<mat-toolbar color="primary" class="nav-height">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="openLeftSide()">menu</mat-icon>
        </button>
        <h1>Quản lý dữ liện VNE</h1>
        <span class="menu-spacer" style="width: 850px;"></span>
        <div>
            <a mat-button [routerLink]="['/home']" [routerLinkActive]="'link-active'">
                <mat-icon>home</mat-icon>TRANG CHÍNH
            </a>
            <a mat-button [routerLink]="['/form']" [routerLinkActive]="'link-active'">
                <mat-icon>account_circle</mat-icon>ĐĂNG NHẬP
            </a>
            <a mat-button [routerLink]="['/update/0']" [routerLinkActive]="'link-active'">
                <mat-icon>build</mat-icon>CHỈNH SỬA
            </a>
            <a mat-button [routerLink]="['/search']" [routerLinkActive]="'link-active'">
                <mat-icon>search</mat-icon>TÌM KIẾM
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav (closed)="closeLeftSide()">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']">
                <mat-icon mat-list-icon>home</mat-icon>TRANG CHÍNH
            </a>
            <a mat-list-item [routerLink]="['/form']">
                <mat-icon mat-list-icon>account_circle</mat-icon>ĐĂNG NHẬP
            </a>
            <a mat-list-item [routerLink]="['/update/0']">
                <mat-icon mat-list-icon>build</mat-icon>CHỈNH SỬA
            </a>
            <a mat-list-item [routerLink]="['/search']">
                <mat-icon mat-list-icon>search</mat-icon>TÌM KIẾM
            </a>
            <a mat-list-item (click)="sidenav.toggle()" mai-list-item>
                <mat-icon>close</mat-icon>ĐÓNG
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div
            style="
                height: 90vh;
                margin-top: 20px;
                margin-right: 10px;
                margin-left: 10px;
                "
            [ngClass]="{
                'content-move-left': !isOpened,
                'content-move-right': isOpened
            }"
        >
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>