.headerpage{
    color: rgb(16, 2, 82);
    background-color: rgb(207, 252, 238);
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}
.myscss {
    color: #f10909;
    font-size:large;
}

.underage {
    color: green;
    background-color: floralwhite;
    font-size: small;
}

.overage {
    color: white;
    background-color: cornflowerblue;
    font-size: larger;
}

.hello {
    color: white;
    background-color: rgb(116, 187, 35);
    font-size: x-large;
    font-style: italic;
}