@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
.login-warppers{
    margin: 20rem auto;
    width: 30rem;
}
input{
    margin-bottom: 2rem;
}
.clicktext{
    color: rgb(0, 109, 211);
    cursor: pointer;
    font-style: italic;
    font-size: small;
}